<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/layout-for-dashboard}">
<body>
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Books</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Book List</li>
        </ol>
        <div>
            <a th:href="@{/books/create}" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-plus"></i> Create
            </a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Years</th>
                    <th scope="col">Book Code</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book, iteration : ${books}">
                    <th scope="row" th:text="${book.id}"></th>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.publisher}"></td>
                    <td th:text="${book.year}"></td>
                    <td th:text="${book.bookCode}"></td>
                    <td th:text="${book.createdAt}"></td>
                    <td th:text="${book.updatedAt}"></td>
                    <td>
                        <a th:href="@{/books/edit}" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-pen"></i> Edit
                        </a>
                        <a th:href="@{ '/books/delete/' + ${book.id} }" type="button" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-trash-can"></i> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>