<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/layout-for-dashboard}">
<body>
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Circulations</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Circulation List</li>
        </ol>
        <div>
            <a th:href="@{/circulations/create}" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-plus"></i> Create
            </a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Book Id</th>
                    <th scope="col">Member Id</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Return Date</th>
                    <th scope="col">Delay Days</th>
                    <th scope="col">Charge</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="circulation, iteration : ${circulations}">
                    <th scope="row" th:text="${circulation.id}"></th>
                    <td th:text="${circulation.book_id}"></td>
                    <td th:text="${circulation.member_id}"></td>
                    <td th:text="${circulation.startDate}"></td>
                    <td th:text="${circulation.endDate}"></td>
                    <td th:text="${circulation.returnDate}"></td>
                    <td th:text="${circulation.delayDate}"></td>
                    <td th:text="${circulation.charge}"></td>
                    <td>
                        <a th:href="@{/circulations/edit}" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-pen"></i> Edit
                        </a>
                        <button type="button" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-trash-can"></i> Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>