<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/layout-for-dashboard}">
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Circulations</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Add Request to Borrow a Book</li>
        </ol>
        <div class="card">
            <div class="card-body">
                <form th:action="@{/circulations/create/request}" method="post" th:object="${circulationDTO}">
                    <div class=" mb-1 row">
                        <label class="col-sm-4 col-form-label">Book</label>
                        <div class="col-sm-8">
                            <select class="form-select" th:field="*{bookId}">
                                <option th:value="0">Select a Book</option>
                                <option th:each="book : ${books}"
                                        th:value="${book.id}"
                                        th:text="${book.bookCode} + ' - ' + ${book.title}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-sm-4 col-form-label">Member</label>
                        <div class="col-sm-8">
                            <select class="form-select" th:field="*{memberId}">
                                <option th:value="0">Select a Member</option>
                                <option th:each="member : ${members}"
                                        th:value="${member.id}"
                                        th:text="${member.memberCode} + ' - ' + ${member.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-sm-4 col-form-label">Request Date / Tanggal Pinjam Buku</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" th:field="*{requestDate}">
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-sm-4 col-form-label">Return Date / Tanggal Pengembalian Buku</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" th:field="*{returnDate}">
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-sm-4 col-form-label">Late Fees / Denda Keterlambatan Per Hari</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" min="100" max="100000" th:field="*{lateFees}">
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success btn-sm">Submit</button>
                            <a th:href="@{/circulations}" type="button" class="btn btn-warning btn-sm">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
