<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/layout-for-dashboard}">
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Circulations</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Add Return</li>
        </ol>
        <div class="card">
            <div class="card-body">
                <div class="mb-1 row">
                    <label class="col-sm-2 col-form-label">Book</label>
                    <div class="col-sm-10">
                        <input class="form-control-plaintext" type="text"
                               th:value="${circulation.bookCode} + ' - ' + ${circulation.bookTitle}" readonly>
                    </div>
                </div>
                <div class="mb-1 row">
                    <label class="col-sm-2 col-form-label">Member</label>
                    <div class="col-sm-10">
                        <input class="form-control-plaintext" type="text" readonly
                               th:value="${circulation.memberCode} + ' - ' + ${circulation.memberName}">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label class="col-sm-2 col-form-label">Request Date</label>
                    <div class="col-sm-10">
                        <input class="form-control-plaintext" type="text" readonly
                               th:value="${circulation.requestDate}">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label class="col-sm-2 col-form-label">Return Date</label>
                    <div class="col-sm-10">
                        <input class="form-control-plaintext" type="text" readonly
                               th:value="${circulation.returnDate}">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label class="col-sm-2 col-form-label">Late Fees</label>
                    <div class="col-sm-10">
                        <input class="form-control-plaintext" type="text" readonly th:value="${circulation.lateFees}">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label class="col-sm-2 col-form-label">Total Days</label>
                    <div class="col-sm-10">
                        <input class="form-control-plaintext" type="text" readonly th:value="${circulation.days}">
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <form th:action="@{'/circulations/create/return/' + ${circulation.id}}" method="post" th:object="${circulationDTO}">
                    <div class="mb-1 row">
                        <label class="col-sm-2 col-form-label">Actual Return Date</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="date" th:field="*{actualReturnDate}">
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success btn-sm">Submit</button>
                            <a th:href="@{/circulations}" type="button" class="btn btn-warning btn-sm">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>

