<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/layout-for-dashboard}">
<div layout:fragment="content">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Circulations Master</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Edit New Circulations</li>
    </ol>
    <div class="card">
      <div class="card-body">
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label">Circulations ID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="#####">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label">Members</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="#">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label">Books</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="##">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label">Start Date</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="###">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label">Publication Year</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="####">
          </div>
        </div>
        <div class="mb-1 row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-success btn-sm">Update</button>
            <a th:href="@{/circulations}" type="button" class="btn btn-warning btn-sm">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
