<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/layout-for-dashboard}">
<body>
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Circulations</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Master Circulation</li>
        </ol>
        <div>
            <a th:href="@{/circulations/create/request}" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-plus"></i> Create
            </a>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Book</th>
                        <th scope="col">Member</th>
                        <th scope="col">Request Date</th>
                        <th scope="col">Return Date</th>
                        <th scope="col">Total Days</th>
                        <th scope="col">Actual Return Date</th>
                        <th scope="col">Late Days</th>
                        <th scope="col">Late Fees</th>
                        <th scope="col">Total Late Fees</th>
                        <th scope="col">Status</th>
                        <th scope="col">Request</th>
                        <th scope="col">Return</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="circulation, iteration : ${circulations}">
                        <th scope="row" th:text="${circulation.id}"></th>
                        <td th:text="${circulation.bookCode} + ' - ' + ${circulation.bookTitle}"></td>
                        <td th:text="${circulation.memberCode} + ' - ' + ${circulation.memberName}"></td>
                        <td th:text="${circulation.requestDate}"></td>
                        <td th:text="${circulation.returnDate}"></td>
                        <td th:text="${circulation.days}"></td>
                        <td th:text="${circulation.actualReturnDate}"></td>
                        <td th:text="${circulation.lateDays}"></td>
                        <td th:text="${circulation.lateFees}"></td>
                        <td th:text="${circulation.totalLateFees}"></td>
                        <td>
                            <div class="container mt-6">
                                <span class="badge bg-warning" th:text="${circulation.status}"></span>
                            </div>
                        </td>
                        <td>
                            <a th:href="@{/circulations/edit/request}" class="btn btn-warning btn-sm">
                                <i class="fa-solid fa-pen"></i> Edit
                            </a>
                            <a th:href="@{/}" class="btn btn-danger btn-sm">
                                <i class="fa-solid fa-pen"></i> Cancel
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/circulations/create/return}" class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-plus"></i> Add
                            </a>
                            <a th:href="@{/circulations/edit/return}" class="btn btn-warning btn-sm">
                                <i class="fa-solid fa-pen"></i> Edit
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>