<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/layout-for-dashboard}">
<body>
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Members</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Members List</li>
        </ol>
        <div>
            <a th:href="@{/members/create}" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-plus"></i> Create
            </a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Member Code</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member, iteration : ${members}">
                    <th scope="row" th:text="${member.id}"></th>
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.memberCode}"></td>
                    <td th:text="${member.address}"></td>
                    <td th:text="${member.phoneNumber}"></td>
                    <td th:text="${member.createdAt}"></td>
                    <td th:text="${member.updatedAt}"></td>
                    <td>
                        <a th:href="@{ '/members/edit/' + ${member.id} }" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-pen"></i> Edit
                        </a>
                        <a th:href="@{'/members/delete/' + ${member.id} }" type="button" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-trash-can"></i> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>