<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/layout-for-dashboard}">
<body>
<div layout:fragment="content">
  <div class="container-fluid px-4">
    <h1 class="mt-4">System Users</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">System Users List</li>
    </ol>
    <div>
      <a th:href="@{/system-users/create}" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-plus"></i>Create
      </a>
      </a>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Tono</td>
          <td>Admin</td>
          <td>Administrator</td>
          <td>
            <a th:href="@{/system-users/edit}" class="btn btn-warning btn-sm">
              <i class="fa-solid fa-pen"></i> Edit
            </a>
            <button type="button" class="btn btn-danger btn-sm">
              <i class="fa-solid fa-trash-can"></i> Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>